.stats {
	text-align: center;
	margin-bottom: 30px;
}

table {
	thead {
		th {
			text-align: center;
		}
	}

	&.users-table {
		td {
			div {
				&:first-child {
					height: 90px;
					display: flex;
					justify-content: center;
					align-items: center;
					align-content: center;
				}
			}
		}
	}

	&.user-details {
		td {
			div {
				&:first-child {
					height: 90px;
					width: fit-content;
					margin: auto;
					text-align: center;
					padding-top: 20px;
					width: 250px;

					@media (max-width: 426px) {
						width: auto;
					}
				}
			}
		}

		@media (max-width: 426px) {
			font-size: 13px;
		}
	}
}

.posts {
	.title-sub {
		text-align: center;
		margin-bottom: 40px;

		h4 {
			text-align: center;
			margin-top: 30px;
			text-decoration: underline;
		}
	}

	.card {
		margin: auto;
		margin-bottom: 40px;
		width: 300px;

		.card-title {
			font-weight: bold;
			text-decoration: underline;
		}

		.card-text {
			&:last-child {
				margin-bottom: 0;
				height: 85px;
				text-align: justify;

				@media (max-width: 426px) {
					height: auto;
				}
			}
		}
	}
}
