#hero {
	h5 {
		margin-top: 10px;
		margin-bottom: 40px;
	}

	.btn-get-started {
		margin: auto;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.5px;
		display: inline-block;
		padding: 14px 50px;
		border-radius: 5px;
		transition: 0.5s;
		margin-top: 30px;
		margin-bottom: 30px;
		color: #fff;
		background: #2487ce;

		&:hover {
			background: #3194db;
		}

		@media (max-width: 426px) {
			font-size: 13px;
		}
	}
}
